.line {
    display: flex;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right button {
    background-color: transparent;
    border-radius: 5px;
    padding: 3px 5px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}