.controller button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightskyblue;
    border: 2px solid darkblue;
}

.controller div span {
    margin: 10px;
}

.controller input {
    width: 50px;
    padding: 3px;
    margin: 10px;
}

.show-number {
    background-color: lightskyblue;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.show-number-box {
    padding: 15px;
}

.invalid-msg{
    color: red;
    font-weight: 300;
    font-size: 13px;
}