table {
    width: 100%;
}
td {
    text-transform: capitalize;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    color: black;
    width: 50%;
}

td:nth-child(2){
    text-align: center;
}

.userHeader {
    background-color: #AEB7B3;
    font-weight: 600;
}

.userHeader tr td {
    text-align: center;
}

.userLineEven {
    background-color: #DADAD9;
}

.userLineOdd {
    background-color: #EDE6E3;
}