.button-container button {
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    width: 30px;
    height: 25px;
    background-color: lightblue;
    font-weight: 900;
}

.form-interval input {
    max-width: 10%;
    padding: 5px;
    text-align: center;
}