.card {
    background-color: silver;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 300px;
    border: 3px solid;
}

.card .title {
    padding: 10px 0;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.card .content {
    background: white;
    padding: 10px;
    flex-grow: 1;
}