table {
    width: 100%;
}

.unauthorized {
    color: darkred
}

.header {
    background-color: #944654;
    font-weight: 600;
}

.header tr td {
    text-align: center;
}

.lineEven {
    background-color: #A05C7B;
}

.lineOdd {
    background-color: #AF90A9;
}

td {
    text-transform: capitalize;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    color: black;
    width: 50%;
}

td:nth-child(2){
    text-align: center;
}

